<div id="_yDrawer">
  <div id="_sidebar" class="sidebar">
    <div class="sidebar-bg" style="background-color:#4f86aa;background-image:url(assets/img/headshot.jpg);height:100%"></div>
    <header class="sidebar-sticky" role="banner">
      <div class="sidebar-about">
        <h1><a id="_title" href="/">Henry Zhang</a></h1>
        <p>Research Assistant for Michael Greenstone at the University of Chicago
      </div>

      <nav class="sidebar-nav heading" role="navigation"> 
        <span class="sr-only">Navigation:</span>
        <ul>
          <li> <a class="sidebar-nav-item active" href="/about/">About</a>
          <li> <a class="sidebar-nav-item active" href="/research/">Research</a>
          <li> <a class="sidebar-nav-item active" href="/cv/">CV</a>
        </ul>
      </nav>

      <div class="sidebar-social"> 
        <span class="sr-only">Social:</span>
        <ul>
          <li> <a href="https://linkedin.com/in/henry-zhang-53a4a67a/" title="LinkedIn"> 
            <span class="icon-linkedin2"></span> 
            <span class="sr-only">LinkedIn</span> </a>
          <li> <a href="mailto:<hhz@uchicago.edu>" title="Email"> 
            <span class="icon-mail"></span> 
            <span class="sr-only">Email</span> </a>
        </ul>
      </div>
    </header>
  </div>
</div>
